
.form-section {
    display: grid;
    place-items: center;
    height: 100vh;

    .form-container {
        width: var(--form-width);

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        input, textarea, select {
            padding: .8rem 1.5rem;
            background-color: var(--color-gray-900);
            border-radius: var(--card-border-radius-2);
            resize: none;
            color: var(--color-white);
        }

        button {
            display: inline-block;
            background: var(--color-primary-light);
            color: var(--color-primary);
            padding: 1rem 1rem;
            border-radius: var(--card-border-radius-2);
            font-weight: 600;
            font-size: .8rem;
            text-align: center;
            text-transform: capitalize;
            cursor: pointer;
            
            margin-right: .5rem;
            
            &:hover {
                color: var(--color-white);
            }

            &:disabled {
                opacity: 0.7;
                cursor: not-allowed;

                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}


@media screen and (max-width: 1024px) {
    .form-section {
        
    
        .form-container {
            padding: 3rem;
    
           
        }
    }
    

}

@media screen and (max-width: 600px) {
    .form-section {
        
    
        .form-container {
            padding: 0rem;
            width: var(--container-width-md);
           
        }
    }
}